@import "../../../../styles/mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  @include item();
  grid-template-columns: 1fr 180px 100px;
}

.buttons {
  button:first-child {
    margin-right: 10px;
  }
}
