@import "../../../../styles/mixins.scss";
.item {
  @include item();
  grid-template-columns: 1fr 200px 400px 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  h2 {
    margin-bottom: 0;
  }
}
